.App {
  text-align: center;
}

.nav-logo {
  margin-right: 1rem;
}

.nav-loginmsg {
  margin-right: 1rem;
}

.App-link {
  color: #09d3ac;
}

.App-body {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.btn-toolbar .btn {
  margin-right: 10px;
}

.extreme-big {
  font-size: 15rem;
}